[Desktop Entry]
Name=Discord Helper
Comment=Discord Quest Automator and Profile Companion
Exec=/usr/bin/nixlabs-discord-helper
Icon=nixlabs-discord-helper
Terminal=false
Type=Application
Categories=Utility;Network;Game;
StartupWMClass=Nixlabs DiscordHelper
Keywords=discord;quests;orbs;nixlabs;
